<div class="navbar-container">
  <div class="nav-links">
    <div class="home-link">
      <%= link_to root_path, method: :get do %>
        <%= image_tag "logo-small.png" %>
      <% end %>
    </div>
    <!-- <div class="photo-link">
      <%= link_to "Photos", photos_path %>
    </div> -->
    <div class="roadmap-link">
      <%= link_to "Roadmap", roadmaps_path %>
    </div>
    <div class="restaurant-link">
      <%= link_to "Restaurants", restaurants_path %>
    </div>
  </div>
</div>